#animalWrap{
    width: 500px;
    height: 500px;
    text-align: center;
    border : 5px solid orange;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 100px;
}
#animalWrap .title{
    font-size: 20px;
    margin-bottom: 10px;
}

#animalWrap li{
    text-align: left;
    list-style: none;
    padding: 0;
    padding-bottom: 5px;
}

#animalWrap b{
    color: orangered;
}

#animalWrap .input_box{
    margin: 10px;
}

#animalWrap button{
    background-color: rgb(255, 102, 0);
}
#animalWrap .delete_button{
    margin-left: 5px;
    background-color: rgb(255, 196, 157);
}

#animalWrap button:hover{
    color: #fafafa;
}

#animalWrap .inline_box{
    float: left;
}

#animalWrap .update_wrap button{
    height: 50px;
    margin-top : 15px;
}

#animalWrap li{
    clear : both;
}
